body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #f4f4f4;
}

nav {
    background-color: #242424;
    padding: 10px 0;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.navbar a:hover,
.navbar a:active {
    border-color: white;
}

.navbar a.active {
    border-bottom-color: white;
}

.active {
    border-bottom-color: white;
}

main {
    margin: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info {
    text-align: center;
}

.contact-info p {
    font-size: 18px;
    margin: 10px 0;
}

.contact-info a {
    color: #333;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.social-links {
    margin-top: 20px;
}

.social-icon {
    font-size: 24px;
    color: #333;
    margin: 0 10px;
    text-decoration: none;
}

.social-icon:hover {
    color: #0077b5; /* LinkedIn color */
}

.social-icon.github {
    color: #333; /* GitHub color */
}

.social-icon.github:hover {
    color: #333; /* GitHub color */
}