body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #f4f4f4;
}

nav {
    background-color: #242424;
    padding: 10px 0;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.navbar a:hover,
.navbar a:active {
    border-color: white;
}

.navbar a.active {
    border-bottom-color: white;
}

.active {
    border-bottom-color: white;
}

main {
    margin: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 48px;
}

.contact-info {
    text-align: center;
}

.contact-info p {
    font-size: 18px;
    margin: 10px 0;
}

.contact-info a {
    color: #333;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.social-links {
    margin-top: 20px;
}

.social-icon {
    font-size: 24px;
    color: #333;
    margin: 0 10px;
    text-decoration: none;
}

.social-icon:hover {
    color: #0077b5; /* LinkedIn color */
}

.social-icon.github {
    color: #333; /* GitHub color */
}

.social-icon.github:hover {
    color: #333; /* GitHub color */
}

.skills {
    font-style: italic;
}

.projects {
    margin: 70px;
}

.info {
    margin: 70px;
}

.info p {
    width: 800px;
}

.profile-container, .work-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Same as width to maintain aspect ratio */
    border-radius: 50%; /* Makes the image circular */
    overflow: hidden; /* Ensures the image is clipped to the circle */
    border: 1px solid #ddd; /* Optional: Adds a border around the circle */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for a 3D effect */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Ensures the image covers the circle without distortion */
}

.profile-text {
    flex: 1; /* Takes up the remaining space */
    padding-left: 100px;
}

.profile-text h2 {
    margin-top: 0;
}

.profile-text ul {
    list-style: disc;
    margin: 0;
    padding-left: 20px;
}

.jobs {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 60px;
}

.job-container {
    background-color: #fff; /* Background color of the container */
    border: 1px solid #ddd; /* Border around the container */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px; /* Padding inside the container */
    max-width: 900px; /* Max width of the container */
    width: 100%; /* Full width up to max-width */
    box-sizing: border-box; /* Includes padding and border in element’s total width and height */
    align-self: center;
    position: absolute;
    top: 180px;
}

.job-container h2 {
    margin: 0; /* Removes top margin */
    font-size: 24px; /* Font size of the heading */
    color: #333; /* Color of the heading */
}

.job-container h3 {
    margin: 0; /* Removes top margin */
    font-size: 24px; /* Font size of the heading */
    color: #333; /* Color of the heading */
}

.job-container p {
    font-size: 16px; /* Font size of the paragraphs */
    color: #666; /* Color of the text */
    margin-bottom: 20px;
    margin-top: 5px;
}

.job-container p strong {
    color: #333; /* Color of the bold labels */
}

.job-container li {
    margin: 4px 0;
}

.assignment-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.assignment-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    width: 50%;
    height: 150px;
}

.assignment-box-2 {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    width: 50%;
    height: 330px;
    display: flex;
    flex-direction: column;
}

.assignment-box h2, .assignment-box-2 h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.assignment-box p, .assignment-box-2 p {
    margin: 0 0 10px;
    font-size: 16px;
    color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #242424;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    width: 80px;
}

.btn:hover {
    background-color: #fff;
    border: 1px solid #242424;
    color: #242424
}

.assignment-header {
    margin-left: 346px;
}

.work-header {
    margin-left: 310px;
}
